
@import url(//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css);

@import url(https://fonts.googleapis.com/css?family=Titillium+Web:300);
.container2 {  display: grid;
  grid-template-columns: 0.4fr 1.6fr 1fr;
  grid-template-rows: 0.3fr 1.5fr 1fr;
  height: 100vh;
  gap: 0px 0px;
  grid-auto-flow: row;

  grid-template-areas:
    "left center-up center-up"
    "left center center"
    "left center center";

}
.flex-fill {
  flex:1 1 auto;
}

.left { grid-area: left;    }

.center { grid-area: center; 
  background-color: rgb(20, 25, 26);
  border-radius: .5rem;
}

.center-up { grid-area: center-up;     background-color: rgb(20, 25, 26); }


.text1{

  color: rgb(255, 255, 255);
  font-family: arial;
  font-size:14px;
 }
